* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Neuzeit Shadow';
  src: url('./assets/NeuzeitShadow-100.woff') format('woff')
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.4;
  /* text-transform: lowercase; */
}

/* Nav back to homepage */
nav {font-size: 1em;display: table;opacity: 1;padding: 5px 15px;}
#arrow {opacity: 1;transition: opacity .2s;}
a {opacity: 0;color: black;text-decoration: none;transition: opacity .2s;margin-left: -1em;}
nav:hover a {opacity: 1;}
nav:hover #arrow {opacity: 0;}

/* The active styling for the current painter's video. */
li.active {
  padding-left: 2.5em;
}
li:hover:not(.active) {
  cursor: pointer;
  padding-left: .5em;
}
li.no-media:hover {
  cursor: text;
  padding-left: 0;
  opacity: .5;
}

ul {
  width: fit-content;
  list-style-type: none;
  padding: 20px;
  min-width: 300px;
  /* background-color: red; */
}
li {transition: padding-left .2s;}

div#js-player {
  box-sizing: border-box;
  padding-left: 5vw;
  height: min-content;
}
@media only screen and (min-width: 1366px) {
/* body {background-color: aquamarine;} */
main {
  margin: 3vw auto;
  display: flex;
  max-width: 1366px;
  /* background-color: blue; */
}

div#js-player {
  box-sizing: border-box;
  padding-left: 5vw;
  height: min-content;
}

iframe.horizontal {
  width: 100%;
  background: transparent;
  margin-top: -220px;
  min-width: 900px;
  margin-left: 0;
}
/* iframe.vertical */
iframe {
  min-height: 1000px;
  height: 100%;
  margin-top: 26px;
  margin-left: 100px;

}
}

@media only screen and (min-width: 640px) and (max-width: 1365px) {
  /* body {background-color:cornsilk;} */
  main {
    margin: 24px auto;
    display: flex;
    width: 100vw;
    /* background-color: blue; */
  }
  ul {
    width: 22vw;
    min-width: 240px;
    /* background-color: orange; */
  }
  
  div#js-player {
    box-sizing: border-box;
    padding-left: 3vw;
    height: min-content;
  }

  iframe.horizontal {
    width: 100%;
    background: transparent;
    /* margin-top: calc(17vw - 370px); */
    padding: 0;
    margin-left: -10px;
    max-width: 68vw;
    min-width: 60vw;
    transform: translateY(calc(17vw - 300px));
    transform-origin: left top;
  }
  /* iframe.vertical */
  iframe {
    min-height: 600px;
    height: 100%;
    margin-left: -130px;
    margin-top: 26px;
  }
}

@media only screen and (max-width:640px) {
  body {margin: 0; padding: 0; }
  main {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    /* background-color: blue; */
    flex-direction: column-reverse;
  }
  div#js-player {
    box-sizing: border-box;
    border: orangered solid 4px;
    padding: 0;
    /* height: 100%; */
  }
    /* iframe.vertical */
    iframe {
      width: 100%;
      /* margin-top: -220px; */
      max-width: 900px;
      transform: translateY(calc(24vw - 200px));
      transform-origin: left top;
    }
  
}
