* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NS100';
    src: url('NeuzeitShadow-100.woff') format('woff');
}
body {
    font-family: 'NS100', Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.25;
    width: 100vw;
    height: fit-content;
    overflow: scroll;
}
::selection {
    background-color: black;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.indent {
    text-indent: 50px;
    margin-top: .5em;
}

.ital {
    display: inline-block;
    -webkit-transform: skewX(-13deg);
    -moz-transform: skewX(-13deg);
    -ms-transform: skewX(-13deg);
    -o-transform: skewX(-13deg);
    transform: skewX(-13deg);
}

p.caption {
    font-size: .7em;
    line-height: 4;
    margin-top: 4em;
    margin-bottom: 4em;
}

button#right {
    min-width: 1.5em;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'NS100', Helvetica, sans-serif;

    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 4;
}

header {
    top: 0;
    width: 100%;
    min-height: calc(100vh - 60px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vmin;
}

div#counter {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding-bottom: 100px;
}



ul#infonav {
    width: fit-content;
    position: sticky;
    top: 40px;
    left: 40px;
    align-self: flex-start;
    list-style-type: none;
    text-align: left;
}

section#homepage {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: .7s ease-in-out;

}

section#videopage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;

    transform: translateX(200%);
    transition: .7s ease-in-out;
}

section div.presenting-artists {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    gap: 2em;
}

video.landing {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 5;
    transition: opacity 1s;
}

div.info,
div.presenting-artists,
div.acknowledgement,
div.press-release {
    margin: 0 150px 0 150px;
    max-width: 680px;
    min-width: 30%;
    padding-bottom: 200px;
}


body.is-vd-active #videopage {
    transform: translateX(0);
}
body.is-vd-active #homepage {
    transform: translateX(-200%);
}



/* The active styling for the current painter's video. */
li.active {
    padding-left: 1em;
    opacity: 1;
}
li:hover:not(.active) {
    cursor: pointer;
    padding-left: 1em;
}
li.no-media:hover {
    cursor: text;
    padding-left: 0;
    opacity: 1;
}

li {
    transition: padding-left .2s;
    opacity: 1;
}


main {
    margin: 0 auto 0 auto;
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    overflow: scroll;
    /* border: skyblue 2px solid; */
    overflow: scroll;
}

ul#painters {
    position: fixed;
    top: 40px;
    left: 40px;
    width: fit-content;
    list-style-type: none;
    min-width: 360px;
    text-align: left;
}

iframe.horizontal {
    width: 100%;
    width: 55vw;
    margin-left: 0;
    max-width: 1200px;
}

/* iframe.vertical */
iframe {
    min-height: 80vh;
    height: 100%;
}

@media only screen and (min-width: 1025px) and (max-width: 1365px) {
    main {
        /* background-color: red; */
        width: 100vw;
        height: fit-content;
    }

    iframe {
        position: absolute;
        right: 0;
        top: 2em;
        height: 640px;
        overflow: hidden;
        min-height: 500px;
        margin: 10px 0;
    }
    iframe.horizontal{
        box-sizing: content-box;
        margin: 0;
        /* border: skyblue 1px solid; */

        position: absolute;
        right: 3em;
        top: 2em;
        min-width: 640px;
        width: 100px;
        overflow: hidden;
        margin: -100px 0;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
    main {
        /* background-color: greenyellow; */
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
    }
    iframe.horizontal {
        margin: -210px 0 ;
        min-width: 720px;
    }
    iframe {
        min-width: 500px;
        height: 900px;
        /* border: salmon 1px solid; */
        margin: 20px 0 0 0;
        padding: 0;
        overflow: hidden;
    }
    ul#painters {
        position: relative;
        padding-bottom: 3em;
    }
}

@media only screen and (max-width:799px) {
    ul#infonav {
        display: none;
    }
    div.info, div.presenting-artists, div.press-release, div.acknowledgement  {
        margin: 0 25px 0 25px;
        padding-bottom: 50px;
    }
    div.grid-item {
        padding-bottom: 25px;
    }
    div.space-below-extra {
        padding-bottom: 50px;
    }
    section div.presenting-artists {
        display: block;
    }

    header {
        min-height: calc(100vh - 60px);
    }
    div#counter {
        width: 70%;
    }
    button#right {
        top: 0px;
        right: 15px;
    }
    p.caption {
        line-height: 2;
        margin-top: 3em;
        margin-bottom: 2em;
    }
    
    /* Video page */
    main {
        top: 2.1em;
        position: absolute;
        /* background-color: blue; */
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
    }

    iframe {
        max-width: 375px;
        height: 666.7px;
        margin: -40px 0 -20px 0;
        padding: 0;
        overflow: hidden;
    }

    iframe.horizontal {
        min-width: 375px;
        padding: 0;
        margin: -270px 0 ;
    }
    #js-player {
        width: 375px;
        height: fit-content;
    }

    ul#painters {
        position: relative;
        padding-bottom: 3em;
    }
}
